[phases.setup]
nixPkgs = ['python311', 'pip', 'gcc', 'zlib', 'libjpeg', 'freetype', 'libffi', 'openssl']

[phases.install]
cmds = [
    'pip install --upgrade pip setuptools wheel',
    'pip install -r backend/requirements.txt --verbose'
]

[start]
cmd = 'cd backend && python3 api.py'
